body {
  background-color: hsl(212, 45%, 89%);
  color: hsl(220, 15%, 55%);
  font-family: Outfit;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
}

.component {
  background-color: hsl(0, 0%, 100%);
  width: 320px;
  height: 497px;
  border-radius: 20px;
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.qr-code-image {
  width: 288px;
  border-radius: 10px;
  margin: 16px;
}

.primary-text {
  color: hsl(218, 44%, 22%);
  font-size: 22px;
  line-height: 28px;
  font-weight: 700;
  margin: 8px 16px;
}

.secondary-text {
  line-height: 19px;
  margin: 8px 32px 40px 32px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 16px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}